<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
    <h2>Create a new listing</h2>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <label for="listing[title]">Title</label>
        <br>
        <input type="text" name="listing[title]" value="<%= listing.title %>" placeholder="enter title">
        <br><br>
        <label for="listing[description]">Description</label>
        <br>
        <textarea name="listing[description]"><%= listing.description %></textarea>
        <br><br>
        <label for="listing[image]">Image URL</label>
        <br>
        <input type="text" name="listing[image]" value="<%= listing.image %>" placeholder="enter image link/URL">
        <br><br>
        <label for="listing[price]">Price</label>
        <br>
        <input type="number" name="listing[price]" value="<%= listing.price %>" placeholder="enter price">
        <br><br>
        <label for="listing[location]">Location</label>
        <br>
        <input type="text" name="listing[location]" value="<%= listing.location %>" placeholder="enter location">
        <br><br>
        <label for="listing[country]">Country</label>
        <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>" placeholder="enter country">
        <br><br>
        <button>Edit</button>
    </form>    
</body>
</html>